:host {
    .intersection-target {
        width: 100%;
        height: 100%;

        overflow: hidden;

        position: relative;

        &.lazy-loaded {
            img {
                opacity: 1;
            }
        }

        img {
            opacity: 0;
        }
    }
}
